<h1>Agenda do dia</h1>

<br />

<div class="d-flex justify-content-center">
    <mat-card class="p-3" style="width: 50em">
        <mat-card-header>
            <h1>Consultas</h1>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Hora</th>
                            <th>Estimativa</th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of consultas">
                            <td>{{c.pacienteNome}}</td>
                            <td>{{sistemaService.getTimeFormat( c.dataConsulta )}}</td>
                            <td>{{c.tempoEstimado}} minutos</td>
                            <td>
                                <a class="text-primary text-decoration-none" [routerLink]="[ '/app', { outlets : { page : 'consulta-detalhes/'+c.id }}]">
                                    <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
                                    detalhes
                                </a>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>