<div class="alert alert-warning">
    <b>Atenção:</b> Cada dia no calendário abaixo tem três números no centro, correspondentes 
    aos turnos do dia. Isto é, o primeiro número corresponde a quantidade de pessoas na fila 
    da manhã, o segundo, ao número da fila da tarde e o terceiro, ao da noite.
</div>

<br />

<div class="d-flex justify-content-center pt-3">
    <div class="row">
        <div class="col-sm-12">
            <button mat-icon-button class="text-black mx-2 my-1" (click)="anterior()">
                <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
            </button>
            <mat-form-field appearance="fill" class="m-0">
                <mat-label>Selecione o mês</mat-label>
                <mat-select placeholder="Selecione o mês" [(ngModel)]="mesI" (selectionChange)="geraCalendario()">
                    <mat-option *ngFor="let m of meses; index as i" [value]="i">
                        {{m}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="p-1"></span>
            <mat-form-field appearance="fill">
                <mat-label>Selecione o ano</mat-label>
                <mat-select placeholder="Selecione o ano" [(ngModel)]="ano" (selectionChange)="geraCalendario()">
                    <mat-option *ngFor="let a of anos; index as i" [value]="a">
                        {{a}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button class="text-black mx-2 my-1" (click)="proximo()">
                <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="table-responsive">
        <table class="table-bordered table-striped calendario-table">
            <thead class="calendario-header">
                <tr>
                    <th class="calendario-dia-header">Domingo</th>
                    <th class="calendario-dia-header">Segunda</th>
                    <th class="calendario-dia-header">Terça</th>
                    <th class="calendario-dia-header">Quarta</th>
                    <th class="calendario-dia-header">Quinta</th>
                    <th class="calendario-dia-header">Sexta</th>
                    <th class="calendario-dia-header">Sábado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of [0, 1, 2, 3, 4]" style="height: 5em">
                    <td *ngFor="let j of [0, 1, 2, 3, 4, 5, 6]" 
                            [ngClass]="diaCSSClasses( i, j )" class="calendario-dia-item">

                        {{labelDia( i, j )}}

                        <div class="w-100 d-flex justify-content-around p-2 fs-4 text-dark" *ngIf="isDiaDoMes( i, j )">
                            <a class="calendario-dia-turno p-2" 
                                    [ngClass]="diaTurnoCSSClasses( i, j, 1 )" 
                                    [routerLink]="[]" (click)="diaTurnoClicado($event, i, j, 1 )">
                                {{quantidade( i, j, 1 )}}
                            </a>
                            <a class="calendario-dia-turno p-2" 
                                    [ngClass]="isDiaTurnoSelecionado( i, j, 2 ) ? 'calendario-dia-turno-selecionado': ''" 
                                    [routerLink]="[]" (click)="diaTurnoClicado($event, i, j, 2 )">
                                {{quantidade( i, j, 2 )}}
                            </a>
                            <a class="calendario-dia-turno p-2" 
                                    [ngClass]="isDiaTurnoSelecionado( i, j, 3 ) ? 'calendario-dia-turno-selecionado': ''" 
                                    [routerLink]="[]" (click)="diaTurnoClicado($event, i, j, 3 )">
                                {{quantidade( i, j, 3 )}}
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
