.calendario-table {
    table-layout: fixed;
    border: 1px solid #AAF;
}

.calendario-header {
    background-color: #303F9F;
    color: white;
    font-weight: bolder;
}

.calendario-dia-item {
    vertical-align: top;
}

.calendario-dia-header {
    padding: 0.4em;
    text-align: center;
}

.no-calendario-dia {
    background-color: #FFF;
}

.calendario-dia-util {
    background-color: #EEE;
}

.calendario-dia-fim-de-semana {
    background-color: #C5CAE9;
    color: #000;
}

.calendario-dia-atual {
    background-color: #9FA8DA;
    color: white;
}

.calendario-dia-turno {
    color: #333;
    text-decoration: none;
}

.calendario-dia-turno:hover {
    font-weight: bolder;
}

.calendario-dia-turno:active {
    color: #FFF;
}

.calendario-dia-turno-selecionado {
    border-radius: 3px;
    background-color: #303F9F;
    color: #FFF;
}