<div class="d-flex justify-content-center">
    <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
</div>

<div class="d-flex justify-content-center">
    <mat-card style="width: 50em">
        <mat-card-header>
            <h1>Formulário</h1>
        </mat-card-header>
        <mat-card-content>
            <div class="row">                
                <div class="col-sm-8">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Paciente</mat-label>
                        <input matInput type="text" 
                            placeholder="Escolha o paciente" 
                            [matAutocomplete]="auto"
                            [(ngModel)]="pacienteNome"
                            (input)="onPacienteInput($event)" />
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPacienteSelected($event)">
                            <mat-option *ngFor="let nome of pacientesNomes; index as i" [value]="nome" [id]="''+i">
                                {{nome}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>                        
                </div>                                
                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Tempo estimado em minutos</mat-label>
                        <input matInput type="number" placeholder="Tempo em minutos" [(ngModel)]="consultaSave.tempoEstimado">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Valor da consulta</mat-label>
                        <input matInput type="number" placeholder="Valor da consulta" [(ngModel)]="consultaSave.valor">
                    </mat-form-field>
                </div>    
                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Observações</mat-label>
                        <textarea matInput type="text" placeholder="Observações" [(ngModel)]="consultaSave.observacoes">
                        </textarea>
                    </mat-form-field>
                </div>                    
            </div>
            
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>

            <div class="d-flex align-items-center">
                <button mat-raised-button color="primary" (click)="registra()">
                    <fa-icon [icon]="icons.faSave"></fa-icon>
                    <span class="mx-3">Salvar</span>
                </button>
                <div *ngIf="showSpinner === true" class="mx-2 spinner-border text-primary"></div>
            </div>            
        </mat-card-content>
    </mat-card>
</div>
