<mat-form-field appearance="fill">
    <mat-label>Paciente</mat-label>
    <input matInput type="text" 
        placeholder="Escolha o paciente" 
        [matAutocomplete]="auto"
        [(ngModel)]="pacienteNome"
        (input)="onPacienteInput($event)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPacienteSelected($event)">
        <mat-option *ngFor="let nome of pacientesNomes; index as i" [value]="nome" [id]="''+i">
            {{nome}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> 