<h1>Agenda de consultas</h1>

<br />

<div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
    {{infoMsg}}
</div>
<div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
    {{erroMsg}}
</div>

<div class="mt-3">
    <mat-form-field>
        <mat-label>Clinica</mat-label>
        <mat-select placeholder="Selecione a clínica" [(ngModel)]="clinicaSelecionadaID"       
            (selectionChange)="clinicaSelecionada( $event )">
            <mat-option *ngFor="let cid of clinicasIDs; index as i" [value]="cid">
                {{clinicasNomes[i]}} 
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="mx-2">
        <mat-label>Profissionais</mat-label>
        <mat-select placeholder="Selecione o profissional" [(ngModel)]="profissionalSelecionadoID">
            <mat-option *ngFor="let pid of profissionaisIDs; index as i" [value]="pid">
                {{profissionaisNomes[i]}} 
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="carregarConsultas()">
        <fa-icon [icon]="icons.faBarsProgress"></fa-icon>
        Carregar
    </button>
</div>

<br />

<app-calendario 
    [quantidades]="quantidadesAgrupadasPorDia" 
    (onDiaClicado)="onDiaClicado($event)"
    (onCalendarioAlterado)="onCalendarioAlterado($event)">
</app-calendario>
