<h1>Tela de especialidades</h1>

<a mat-raised-button color="primary" [routerLink]="[ '/app', { outlets : { page : 'especialidade-save/-1' }}]">
    <fa-icon [icon]="icons.faPlusCircle"></fa-icon>
    <span class="mx-3">Novo especialidade</span>
</a>

<br />

<div class="mt-3"> 
    <mat-form-field appearance="fill">
        <mat-label>Clinica</mat-label>
        <mat-select placeholder="Selecione a clínica" [(ngModel)]="clinicaId">
            <mat-option *ngFor="let cid of clinicasIDs; index as i" [value]="cid">
                {{clinicasNomes[ i ]}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span class="p-2"></span>

    <mat-form-field appearance="fill">
        <mat-label>Nome do especialidade</mat-label>
        <input matInput type="text" placeholder="Nome do especialidade" [(ngModel)]="especialidadeFiltro.nomeIni" />
    </mat-form-field>

    <br />
    
    <div class="d-flex flex-row align-items-center">
        <button mat-raised-button color="primary" (click)="filtra()">
            <fa-icon [icon]="icons.faFilter"></fa-icon>
            <span class="mx-3">Filtrar</span>
        </button>
        <div *ngIf="showSpinner === true" class="mx-2 spinner-border text-primary"></div>
    </div>

    <div *ngIf="infoMsg !== null" class="alert alert-success mt-2">
        {{infoMsg}}
    </div>
    <div *ngIf="erroMsg !== null" class="alert alert-danger mt-2">
        {{erroMsg}}
    </div>
</div>

<div class="table-responsive mt-3" style="height: 20em">    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Detalhes</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of especialidades">
                <td>{{e.nome}}</td>
                <td>
                    <a class="text-primary text-decoration-none" [routerLink]="[ '/app', { outlets : { page : 'especialidade-detalhes/'+e.id }}]">
                        <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
                        detalhes
                    </a>
                </td>
                <td>
                    <a class="text-danger text-decoration-none" [routerLink]="[]" (click)="mostraRemoveDialog(e.id)">
                        <fa-icon [icon]="icons.faTrashCan"></fa-icon>
                        remover
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>