<h1>Detalhes da sua conta</h1>

<a mat-raised-button color="primary" class="my-1" [routerLink]="[ '/app', { outlets : { page : 'recepcionista-conta-alterar'}}]">
    <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
    <span class="mx-3">Alterar seus dados</span>
</a>

<br />

<div class="d-flex justify-content-center">
    <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
</div>

<div class="d-flex justify-content-center mt-3">
    <mat-card style="width: 50em">
        <mat-card-header>
            <h1>Informações</h1>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>

            <div class="row">
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Nome:
                    </div>
                    <div class="fs-5 text-secondary">
                        {{recepcionistaDetalhes.nome}}
                    </div>
                </div>
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Clínica:
                    </div>
                    <div class="fs-5 text-secondary">
                       {{recepcionistaDetalhes.clinicaNome}}                     
                    </div>
                </div>
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Nome de usuário:
                    </div>
                    <div class="fs-5 text-secondary">
                        {{recepcionistaDetalhes.usuario.username}}
                    </div>
                </div>
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Perfil:
                    </div>
                    <div class="fs-5 text-secondary">
                        {{recepcionistaDetalhes.usuario.perfilLabel}}
                    </div>
                </div>                
            </div>            
        </mat-card-content>
    </mat-card>
</div>