<h1>Atendimento de consulta</h1>

<mat-form-field>
    <mat-label>Clínica</mat-label>
    <mat-select placeholder="Selecione a clínica" [(ngModel)]="clinicaId">
        <mat-option *ngFor="let id of clinicasIDs; index as i" [value]="id">
            {{clinicasNomes[ i ]}}
        </mat-option>
    </mat-select>
</mat-form-field>

<span class="p-2"></span>

<mat-form-field>
    <mat-label>Turno</mat-label>
    <mat-select placeholder="Selecione a clínica" [(ngModel)]="turno">
        <mat-option *ngFor="let t of turnos" [value]="t.name">
            {{t.label}}
        </mat-option>
    </mat-select>
</mat-form-field>

<br />

<button *ngIf="carregarAtivado === false" mat-raised-button color="primary" 
        (click)="iniciaCarregamento()">
    <fa-icon [icon]="icons.faCirclePlay"></fa-icon>
    Carregamento automático
</button>

<button *ngIf="carregarAtivado === true" mat-raised-button color="accent" (click)="paraCarregamento()">
    <fa-icon [icon]="icons.faCirclePause"></fa-icon>
    Pausar carregamento
</button>

<br />

<div class="d-flex justify-content-center">
    <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
</div>

<div class="d-flex justify-content-center mt-3">
    <mat-card style="width: 50em">
        <mat-card-header>
            <h1>Consulta iniciada</h1>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>

            <div class="row">
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-secondary">
                        Paciente:
                    </div>
                    <div class="fs-5 text-black">
                        {{consulta.pacienteNome}}
                    </div>
                </div>                    
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-secondary">
                        Especialidade:
                    </div>
                    <div class="fs-5 text-black">
                        {{consulta.especialidadeNome}}
                    </div>
                </div>                                                 
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-secondary">
                        Retorno:
                    </div>
                    <div class="fs-5 text-black">
                        {{consulta.retorno == true ? 'Sim' : 'Não' }}
                    </div>
                </div>                   
                <div class="col-sm-12 my-3">
                    <div class="fs-6 text-secondary">
                        Observações:
                    </div>
                    <div class="fs-5 text-black">
                        {{consulta.observacoes}}
                    </div>
                </div>                               
            </div>
        </mat-card-content>
    </mat-card>
</div>