<h1>Atendimento de consulta</h1>

<mat-form-field>
    <mat-label>Clínica</mat-label>
    <mat-select placeholder="Selecione a clínica" [(ngModel)]="clinicaId">
        <mat-option *ngFor="let id of clinicasIDs; index as i" [value]="id">
            {{clinicasNomes[ i ]}}
        </mat-option>
    </mat-select>
</mat-form-field>

<span class="p-2"></span>

<mat-form-field>
    <mat-label>Turno</mat-label>
    <mat-select placeholder="Selecione a clínica" [(ngModel)]="turno">
        <mat-option *ngFor="let t of turnos" [value]="t.name">
            {{t.label}}
        </mat-option>
    </mat-select>
</mat-form-field>

<br />

<button *ngIf="carregarAtivado === false" mat-raised-button color="primary" 
        (click)="iniciaCarregamento()">
    <fa-icon [icon]="icons.faCirclePlay"></fa-icon>
    Carregamento automático
</button>

<button *ngIf="carregarAtivado === true" mat-raised-button color="accent" (click)="paraCarregamento()">
    <fa-icon [icon]="icons.faCirclePause"></fa-icon>
    Pausar carregamento
</button>

<br />

<div class="d-flex justify-content-center">
    <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
</div>

<div class="d-flex justify-content-center mt-3">
    <mat-card style="width: 50em">
        <mat-card-header>
            <h1>Consulta iniciada</h1>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>

            <div class="row">
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-secondary">
                        Paciente:
                    </div>
                    <div class="fs-5 text-black">
                        {{consulta.pacienteNome}}
                    </div>
                </div>                    
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-secondary">
                        Especialidade:
                    </div>
                    <div class="fs-5 text-black">
                        {{consulta.especialidadeNome}}
                    </div>
                </div>                                                 
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-secondary">
                        Retorno:
                    </div>
                    <div class="fs-5 text-black">
                        {{consulta.retorno == true ? 'Sim' : 'Não' }}
                    </div>
                </div>                   
                <div class="col-sm-12 my-3">
                    <div *ngIf="obsInfoMsg !== null" class="alert alert-success mb-2">
                        {{obsInfoMsg}}
                    </div>
                    <div *ngIf="obsErroMsg !== null" class="alert alert-danger mb-2">
                        {{obsErroMsg}}
                    </div>
                    <div class="fs-5 text-black">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Observações</mat-label>
                            <textarea matInput rows="6" placeholder="Digite as observações" [(ngModel)]="consulta.observacoes"></textarea>
                            <button mat-raised-button color="primary" (click)="salvaObservacao()">
                                <fa-icon [icon]="icons.faSave"></fa-icon>
                                Salvar
                            </button>                        
                        </mat-form-field>
                    </div>
                </div>                               
            </div>
        </mat-card-content>
    </mat-card>               
</div>

<br />
<h1>Histórico de observações recentes</h1>

<div class="rounded-3 my-2 p-1" style="background-color: #55A" *ngFor="let obs of historicoObservacoes">
    <div class="text-white p-1">
        {{obs.dataSaveObservacoes | date: 'dd/MM/YYYY HH:mm:ss' }}
    </div>
    <div class="text-secondary bg-white p-3 rounded-3">
        {{obs.observacoes}}
    </div>
</div>