<div class="d-flex justify-content-center">
    <mat-card style="width: 32em">
        <mat-card-header>
            <h1>Login</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill" class="w-100">
                <input matInput type="text" placeholder="Nome de usuário" [(ngModel)]="login.username" class="form-control" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
                <input matInput type="password" placeholder="Senha" [(ngModel)]="login.senha" class="form-control" />
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="logar()">Entrar</button>
        </mat-card-content>
    </mat-card>
</div>
