<h1>Nova atendimento</h1>

<div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
    {{infoMsg}}
</div>
<div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
    {{erroMsg}}
</div>

<mat-stepper [linear]="true" #novoAtendimentoStepper>
    <mat-step>
        <ng-template matStepLabel>O profissional</ng-template>
        
        <br />
        
        <mat-form-field>
            <mat-label>Clinica</mat-label>
            <mat-select placeholder="Selecione a clínica" [(ngModel)]="clinicaId"       
                    (selectionChange)="clinicaSelecionada( $event )">
                <mat-option *ngFor="let cid of clinicasIDs; index as i" [value]="cid">
                    {{clinicasNomes[i]}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <span class="p-2"></span>
        
        <mat-form-field>
            <mat-label>Profissionais</mat-label>
            <mat-select placeholder="Selecione o profissional" [(ngModel)]="profissionalId">
                <mat-option *ngFor="let pid of profissionaisIDs; index as i" [value]="pid">
                    {{profissionaisNomes[i]}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <br />

        <button mat-raised-button color="primary" (click)="profissionalSelectOnNext( novoAtendimentoStepper )">
            <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
            Próximo
        </button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Dia e turno</ng-template>

        <button mat-raised-button matStepperPrevious color="primary">
            <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
            Anterior
        </button>
        <button mat-raised-button color="primary" class="mx-2" (click)="turnoSelectOnNext( novoAtendimentoStepper )">
            <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
            Próximo
        </button>

        <br />
        <br />
                
        <app-calendario 
            [quantidades]="quantidadesAgrupadasPorDia" 
            (onDiaTurnoAlterado)="onDiaTurnoAlterado($event)"
            (onCalendarioAlterado)="onCalendarioAlterado($event)">
        </app-calendario>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>O registro</ng-template>
        
        <button mat-raised-button matStepperPrevious color="primary">
            <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
            Anterior
        </button>
        
        <br />
        <br />

        <app-atendimento-registro #atendimentoRegistro
            [clinicaId]="clinicaId" 
            [profissionalId]="profissionalId" 
            [dia]="dia"
            [mes]="mes"
            [ano]="ano"
            [turno]="turno"
            (onRegistrado)="onAtendimentoRegistrado()"></app-atendimento-registro>
    </mat-step>
</mat-stepper>