<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../assets/xclin-logo.png" />        
        <span class="p-2"></span>      
        <span>Odonto</span>

        <button mat-icon-button [matMenuTriggerFor]="usuario_menu" class="ms-auto">
            <fa-icon [icon]="icons.faCircleUser"></fa-icon>
        </button>
        <mat-menu #usuario_menu="matMenu">
            
            <a mat-menu-item [routerLink]="[ '/app', { outlets : { page : 'profissional-conta-detalhes' } }]"                 
                    *ngIf="sistemaService.isProfissional() === true">
               Sua conta
            </a>
            <a mat-menu-item [routerLink]="[ '/app', { outlets : { page : 'recepcionista-conta-detalhes' } }]" 
                    *ngIf="sistemaService.isRecepcionista() === true">
               Sua conta
            </a>
            <a mat-menu-item [routerLink]="[ '/app', { outlets : { page : 'diretor-conta-detalhes' } }]" 
                    *ngIf="sistemaService.isDiretor() === true">
               Sua conta
            </a>

            <a mat-menu-item [routerLink]="[ '/app', { outlets : { page : 'profissional-conta-especialidades' } }]" 
                    *ngIf="sistemaService.isProfissional() === true">
               Suas especialidades
            </a>

            <a mat-menu-item [routerLink]="[ '/app', { outlets : { page : 'anamnese-modelo-tela' } } ]"
                    *ngIf="sistemaService.isProfissional() === true">
                Seus modelos de anamnese
            </a>

            <a mat-menu-item [routerLink]="[ '/app', { outlets : { page : 'usuario-conta-alterar-senha' } }]">
               Alterar senha
            </a>

            <a mat-menu-item [routerLink]="[]" (click)="logout()">
                Sair
            </a>
        </mat-menu>
    </mat-toolbar-row>
   
</mat-toolbar>

<mat-sidenav-container class="m-0 h-100">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" style="width: 20em">
        <mat-nav-list>
            <mat-list-item [routerLink]="[]" class="mb-1">
                <div class="d-flex flex-row align-items-center">
                    <mat-icon>dashboard</mat-icon>
                    <div class="mx-2">Menu</div>
                    <a [routerLink]="[]" class="ms-auto text-dark" (click)="sidenav.toggle()">
                        <fa-icon [icon]="icons.faArrowLeft"></fa-icon>
                    </a>
                </div>
            </mat-list-item>    
            
            <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'home' } } ]" (click)="sidenav.toggle()">
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faHospitalUser"></fa-icon>
                    <div class="mx-2">Inicial</div>
                </div>
            </mat-list-item> 

            <mat-list-item [routerLink]="[]" (click)="usuarioMenuShow = !usuarioMenuShow"
                    *ngIf="sistemaService.isAdminEscopo() == true">        
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faUser"></fa-icon>
                    <div class="mx-2">Usuários</div>                    
                    <fa-icon *ngIf="usuarioMenuShow === true" [icon]="icons.faChevronUp" class="ms-auto"></fa-icon>
                    <fa-icon *ngIf="usuarioMenuShow === false" [icon]="icons.faChevronDown" class="ms-auto"></fa-icon>
                </div>
            </mat-list-item>
            <div *ngIf="usuarioMenuShow === true" class="px-3">
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'usuario-tela' } } ]" (click)="sidenav.toggle()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUser"></fa-icon>
                        <div class="mx-2">Usuários</div>
                    </div>                       
                </a>
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'usuario-grupo-tela' } } ]" (click)="sidenav.toggle()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUserGroup"></fa-icon>
                        <div class="mx-2">Grupos</div>
                    </div>
                </a>
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'recurso-tela' } } ]" (click)="sidenav.toggle()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faBox"></fa-icon>
                        <div class="mx-2">Recursos</div>
                    </div>
                </a>
            </div>

            <mat-list-item [routerLink]="[]" (click)="atendimentoMenuShow = !atendimentoMenuShow">
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faCalendarDays"></fa-icon>
                    <div class="mx-2">Atendimentos</div>                    
                    <fa-icon *ngIf="atendimentoMenuShow === true" [icon]="icons.faChevronUp" class="ms-auto"></fa-icon>
                    <fa-icon *ngIf="atendimentoMenuShow === false" [icon]="icons.faChevronDown" class="ms-auto"></fa-icon>
                </div>
            </mat-list-item>
            <div *ngIf="atendimentoMenuShow === true" class="px-3">                
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'atendimento-iniciado' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isProfissional()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faListOl"></fa-icon>
                        <div class="mx-2">Atendimento iniciado</div>
                    </div>                       
                </a>
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'atendimento-novo' } } ]" (click)="sidenav.toggle()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faAdd"></fa-icon>
                        <div class="mx-2">Novo atendimento</div>
                    </div>                       
                </a>                                                 
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'atendimento-fila' } } ]" (click)="sidenav.toggle()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faCubes"></fa-icon>
                        <div class="mx-2">Fila de atendimentos</div>
                    </div>
                </a>
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'atendimento-tela' } } ]" (click)="sidenav.toggle()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faFilter"></fa-icon>
                        <div class="mx-2">Filtro de atendimentos</div>
                    </div>
                </a>
                <a mat-list-item [routerLink]="[ '/app', { outlets : { page : 'atendimento-agenda' } } ]" (click)="sidenav.toggle()">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faCalendarCheck"></fa-icon>
                        <div class="mx-2">Fila por agenda</div>
                    </div>                       
                </a>
            </div>

            
            <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'exame-tela' } } ]" (click)="sidenav.toggle()"
                    *ngIf="sistemaService.isProfissional()">
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faSteam"></fa-icon>
                    <div class="mx-2">Exames</div>
                </div>
            </mat-list-item> 
                

            <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'lancamento-tela' } } ]" (click)="sidenav.toggle()">
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faMoneyBillTrendUp"></fa-icon>
                    <div class="mx-2">Lançamentos</div>
                </div>
            </mat-list-item> 

            <mat-list-item [routerLink]="[]" (click)="pessoaMenuShow = !pessoaMenuShow">
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faPeopleGroup"></fa-icon>
                    <div class="mx-2">Pessoas</div>                    
                    <fa-icon *ngIf="pessoaMenuShow === true" [icon]="icons.faChevronUp" class="ms-auto"></fa-icon>
                    <fa-icon *ngIf="pessoaMenuShow === false" [icon]="icons.faChevronDown" class="ms-auto"></fa-icon>
                </div>
            </mat-list-item>
            <div *ngIf="pessoaMenuShow === true" class="px-3"> 
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'paciente-tela' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isAdminEscopo() == false">
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faHospitalUser"></fa-icon>
                        <div class="mx-2">Pacientes</div>
                    </div>
                </mat-list-item>    
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'profissional-tela' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isAdminEscopo() == true">                       
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUserDoctor"></fa-icon>
                        <div class="mx-2">Profissionais</div>
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'nao-admin-profissional-tela' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isAdminEscopo() == false">                       
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUserDoctor"></fa-icon>
                        <div class="mx-2">Profissionais</div>
                    </div>
                </mat-list-item> 
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'recepcionista-tela' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isAdminEscopo() == true">                              
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUserTie"></fa-icon>
                        <div class="mx-2">Recepcionistas</div>
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'nao-admin-recepcionista-tela' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isAdminEscopo() == false">                              
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUserTie"></fa-icon>
                        <div class="mx-2">Recepcionistas</div>
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'diretor-tela' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isAdminEscopo() == true">                     
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUserNurse"></fa-icon>
                        <div class="mx-2">Diretores</div>
                    </div>
                </mat-list-item>
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'nao-admin-diretor-tela' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isAdminEscopo() == false">                     
                    <div class="d-flex flex-row">
                        <fa-icon [icon]="icons.faUserNurse"></fa-icon>
                        <div class="mx-2">Diretores</div>
                    </div>
                </mat-list-item>
            </div>                                                                                           

            <mat-list-item [routerLink]="[]" (click)="relatorioMenuShow = !relatorioMenuShow">
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faFilePdf"></fa-icon>
                    <div class="mx-2">Relatorios</div>                    
                    <fa-icon *ngIf="relatorioMenuShow === true" [icon]="icons.faChevronUp" class="ms-auto"></fa-icon>
                    <fa-icon *ngIf="relatorioMenuShow === false" [icon]="icons.faChevronDown" class="ms-auto"></fa-icon>
                </div>
            </mat-list-item>
            <div *ngIf="relatorioMenuShow === true" class="px-3"> 
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'relatorio-balanco-dia' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isRecepcionista() === false">               
                    <div class="d-flex flex-row">
                        <div class="mx-2">Balanço do dia</div>
                    </div>
                </mat-list-item> 
                <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'relatorio-prontuario' } } ]" (click)="sidenav.toggle()"
                        *ngIf="sistemaService.isProfissional() === true">               
                    <div class="d-flex flex-row">
                        <div class="mx-2">Prontuário</div>
                    </div>
                </mat-list-item> 
            </div>

            <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'clinica-tela' } } ]" (click)="sidenav.toggle()"
                    *ngIf="sistemaService.isAdminEscopo() == true">               
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faHospital"></fa-icon>
                    <div class="mx-2">Clínicas</div>
                </div>
            </mat-list-item>  
            <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'nao-admin-clinica-tela' } } ]" (click)="sidenav.toggle()"
                    *ngIf="sistemaService.isAdminEscopo() == false">               
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faHospital"></fa-icon>
                    <div class="mx-2">Clínicas</div>
                </div>
            </mat-list-item> 
            <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'especialidade-tela' } } ]" (click)="sidenav.toggle()"
                    *ngIf="sistemaService.isAdminEscopo() == true">               
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faUmbrella"></fa-icon>
                    <div class="mx-2">Especialidades</div>
                </div>
            </mat-list-item>
            <mat-list-item [routerLink]="[ '/app', { outlets : { page : 'exame-tela' } } ]" (click)="sidenav.toggle()"
                    *ngIf="sistemaService.isAdminEscopo() == true">               
                <div class="d-flex flex-row">
                    <fa-icon [icon]="icons.faUmbrella"></fa-icon>
                    <div class="mx-2">Exames</div>
                </div>
            </mat-list-item>
        </mat-nav-list>        
    </mat-sidenav>
    <mat-sidenav-content class="p-3">
        <router-outlet name="page"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> 