<h1>Registro/Alteração de usuário</h1>

<br />

<div class="d-flex justify-content-center">
    <mat-card>
        <mat-card-header>
            Formulário
        </mat-card-header>
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field appearance="fill">
                            <input matInput type="text"/>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
