<h1>Agenda do dia</h1>

<a mat-raised-button color="primary" [routerLink]="[]" (click)="paraNovaConsulta()">
    <fa-icon [icon]="icons.faPlusCircle"></fa-icon>
    <span class="mx-3">Nova consulta</span>
</a>

<br />
<br />

<div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
    {{infoMsg}}
</div>
<div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
    {{erroMsg}}
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Status</th>
                <th>Turno</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of consultas">
                <td>{{c.pacienteNome}}</td>
                <td>{{c.statusLabel}}</td>
                <td>{{c.turnoLabel}}</td>
                <td>
                    <a class="text-primary text-decoration-none" [routerLink]="[ '/app', { outlets : { page : 'consulta-detalhes/'+c.id }}]">
                        <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
                        detalhes
                    </a>
                </td>                            
            </tr>
        </tbody>
    </table>
</div>