<h1>Nova consulta</h1>

<div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
    {{infoMsg}}
</div>
<div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
    {{erroMsg}}
</div>

<mat-stepper [linear]="true" #novaConsultaStepper>
    <mat-step>
        <ng-template matStepLabel>O profissional</ng-template>
        
        <br />
        
        <app-consulta-profissional-select 
            (onClinicaSelecionada)="onClinicaSelecionada( $event )"
            (onProfissionalSelecionado)="onProfissionalSelecionado( $event )">
        </app-consulta-profissional-select>
        
        <br />

        <button mat-raised-button matStepperNext color="primary" (click)="carregarQuantidades()">
            <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
            Próximo
        </button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Dia e turno</ng-template>

        <button mat-raised-button matStepperPrevious color="primary">
            <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
            Anterior
        </button>
        <button mat-raised-button matStepperNext color="primary" class="mx-2" (click)="validaDiaTurnoSelecionado()">
            <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
            Próximo
        </button>

        <br />
        <br />
        
        <app-calendario 
            [quantidades]="quantidadesAgrupadasPorDia" 
            (onDiaTurnoAlterado)="onDiaTurnoAlterado($event)"
            (onCalendarioAlterado)="onCalendarioAlterado($event)">
        </app-calendario>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>O registro</ng-template>
        
        <button mat-raised-button matStepperPrevious color="primary">
            <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
            Anterior
        </button>
        
        <br />
        <br />

        <app-consulta-registro 
            [clinicaId]="clinicaId" 
            [profissionalId]="profissionalId" 
            [dia]="dia"
            [mes]="mes"
            [ano]="ano"
            [turno]="turno"></app-consulta-registro>
    </mat-step>
</mat-stepper>