
.calendario-header {
    background-color: #58F;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #000;
}

.calendario-dia-item {
    vertical-align: top;
}

.calendario-dia-item:hover {
    background-color: #08A;
    cursor: pointer;
    font-weight: bolder;
}

.calendario-dia-header {
    padding: 0.4em;
    text-align: center;
}

.calendario-dia {
    background-color: #DEF;
    color: blue;
}

.no-calendario-dia {
    background-color: #FFF;
}

.calendario-dia-fim-de-semana {
    background-color: #6AC;
    color: #000;
}

.no-calendario-dia-fim-de-semana {
    background-color: #CCC;
}
