
.calendario-header {
    background-color: #5C6BC0;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #000;
}

.calendario-dia-item {
    vertical-align: top;
}

.calendario-dia-header {
    padding: 0.4em;
    text-align: center;
}

.no-calendario-dia {
    background-color: #FFF;
}

.calendario-dia-util {
    background-color: #EEE;
}

.calendario-dia-fim-de-semana {
    background-color: #C5CAE9;
    color: #000;
}

.calendario-dia-atual {
    background-color: #9FA8DA;
    color: white;
}

.calendario-dia-turno {
    padding: 0.5em;
    color: #333;
    text-decoration: none;
}

.calendario-dia-turno:hover {
    color: #03A;
}

.calendario-dia-turno-selecionado {
    background-color: #58F;
    color: #000;
}