
<div class="container d-flex flex-column justify-content-center">    
    <mat-card>
        <mat-card-header>
            <h3><b>Seja bem vindo!</b></h3>
        </mat-card-header>
        <mat-card-content>            
            <p class="fs-6 p-3 rounded-2 border border-light" style="font-weight: bold">
                Olá <span class="text-success">{{username}}</span>, você está logado como: 
                <span class="text-success">{{perfilLabel}}</span>                
            </p>
            <div class="text-center">
                <img [src]="logo" height="200"/>
            </div>
        </mat-card-content>
    </mat-card>    
</div>