<h1>Atendimento iniciado</h1>

<mat-form-field>
    <mat-label>Clínica</mat-label>
    <mat-select placeholder="Selecione a clínica" [(ngModel)]="clinicaId">
        <mat-option *ngFor="let id of clinicasIDs; index as i" [value]="id">
            {{clinicasNomes[ i ]}}
        </mat-option>
    </mat-select>
</mat-form-field>

<span class="p-2"></span>

<mat-form-field>
    <mat-label>Turno</mat-label>
    <mat-select placeholder="Selecione o turno" [(ngModel)]="turno">
        <mat-option *ngFor="let t of turnos" [value]="t.name">
            {{t.label}}
        </mat-option>
    </mat-select>
</mat-form-field>

<br />

<div class="d-flex justify-content-center">
    <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
</div>

<div class="d-flex justify-content-center mt-3">
    <div class="p-3 bg-secondary d-flex align-items-center">
        <span class="fs-6 text-white">
            Nº pacientes na fila: 
        </span>
        <span class="p-2"></span>
        <span class="fs-2 text-white">
            {{quantPacientesNaFila}}
        </span>        
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <mat-card style="width: 50em">
        <mat-card-header>
            <h1>Consulta iniciada</h1>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>

            <div class="row">
                <div class="col-sm-6 my-2">
                    <div class="fs-6 fw-bold">
                        Paciente:
                    </div>
                    <div class="fs-5">
                        {{atendimento.pacienteNome}}
                    </div>
                </div>                                                  
                <div class="col-sm-6 my-2">
                    <div class="fs-6 fw-bold">
                        Prontuário:
                    </div>
                    <div class="fs-5">
                        <a class="text-primary text-decoration-none" [routerLink]="[]" (click)="geraRelatorioProntuario()">
                            <fa-icon [icon]="icons.faEye"></fa-icon>
                            Gerar relatório
                        </a>
                    </div>
                </div>  
                <div class="col-sm-12 my-2">
                    <div class="fs-6 fw-bold">
                        Anexos:
                    </div>
                    <mat-list>
                        <mat-list-item *ngFor="let anexo of pacienteAnexos">
                            <a class="text-primary" [routerLink]="[]" (click)="geraDownloadAnexo( anexo.id )">
                                {{anexo.nome}}
                            </a>                        
                        </mat-list-item>
                    </mat-list>
                </div>                 
                      
                <div class="col-sm-12 p-3">
                    <mat-card>
                        <mat-card-header>
                            <h1>Consulta</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngIf="atendimento.temConsulta === false">
                                <span class="text-primary">Consulta não incluída</span>
                            </div>
                            <div class="row" *ngIf="atendimento.temConsulta === true">                           
                                <div class="col-sm-4">
                                    <div class="fs-6 fw-bold">
                                        Especialidade:
                                    </div>
                                    <div class="fs-5">
                                        {{atendimento.consulta.especialidadeNome}}
                                    </div>
                                </div>                                                                                  
                            </div>
                        </mat-card-content>
                    </mat-card>                                
    
                    <mat-card class="mt-4">
                        <mat-card-header>
                            <h1>Exames</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngIf="atendimento.exames.length === 0">
                                <span class="text-primary">Nenhum exame incluído</span>
                            </div>
                            <div *ngIf="atendimento.exames.length > 0">
                                <mat-list-item *ngFor="let exame of atendimento.exames">
                                    {{exame.nome}}
                                </mat-list-item>
                            </div>                        
                        </mat-card-content>
                    </mat-card> 

                    <mat-card class="mt-4">
                        <mat-card-header>
                            <h1>Procedimentos</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngIf="atendimento.procedimentos.length === 0">
                                <span class="text-primary">Nenhum procedimento incluído</span>
                            </div>
                            <div *ngIf="atendimento.procedimentos.length > 0">
                                <mat-list-item *ngFor="let procedimento of atendimento.procedimentos">
                                    {{procedimento.nome}}
                                </mat-list-item>
                            </div>                        
                        </mat-card-content>
                    </mat-card>
                </div>                                                   

                <div class="col-sm-12 my-2">
                    <div *ngIf="obsInfoMsg !== null" class="alert alert-success mb-2">
                        {{obsInfoMsg}}
                    </div>
                    <div *ngIf="obsErroMsg !== null" class="alert alert-danger mb-2">
                        {{obsErroMsg}}
                    </div>
                    <div class="fs-5">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Observações</mat-label>
                            <textarea matInput rows="6" placeholder="Digite as observações" [(ngModel)]="observacoesSave.observacoes"></textarea>
                            <button mat-raised-button color="primary" (click)="salvaObservacao()">
                                <fa-icon [icon]="icons.faSave"></fa-icon>
                                Salvar
                            </button>                        
                        </mat-form-field>
                    </div>
                </div>                               
            </div>
        </mat-card-content>
    </mat-card>               
</div>

<br />
<h1>Histórico de observações recentes</h1>

<div *ngFor="let obs of historicoObservacoes">
    <div *ngIf="obs.observacoes.length > 0" class="rounded-3 my-2 p-1" style="background-color: #55A">
        <div class="text-white p-1">
            {{obs.dataSaveObservacoes | date: 'dd/MM/YYYY HH:mm:ss' }}
        </div>
        <div class="bg-white p-3 rounded-3">
            {{obs.observacoes}}
        </div>
    </div>
</div>