<h1>Detalhes da sua conta</h1>

<br />

<a mat-raised-button color="primary" [routerLink]="[ '/app', { outlets : { page : 'profissional-conta-alterar' }}]">
    <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
    <span class="mx-3">Alterar seus dados</span>
</a>

<br />

<div class="d-flex justify-content-center">
    <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
</div>

<div class="d-flex justify-content-center mt-3">
    <mat-card style="width: 50em">
        <mat-card-header>
            <h1>Informações</h1>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>

            <div class="row">
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Nome:
                    </div>
                    <div class="fs-5 text-secondary">
                        {{profissionalDetalhes.profissional.nome}}
                    </div>
                </div>
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Função:
                    </div>
                    <div class="fs-5 text-secondary">
                        {{profissionalDetalhes.profissional.funcaoLabel}}
                    </div>
                </div> 
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Nome de usuário:
                    </div>
                    <div class="fs-5 text-secondary">
                        {{profissionalDetalhes.profissional.usuario.username}}
                    </div>
                </div>
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Perfil:
                    </div>
                    <div class="fs-5 text-secondary">
                        {{profissionalDetalhes.profissional.usuario.perfilLabel}}
                    </div>
                </div>
                <div class="col-sm-6 my-3">
                    <div class="fs-6 text-gray">
                        Clinicas:
                    </div>
                    <div class="fs-5 text-secondary">
                        <mat-chip-listbox>
                            <mat-chip-option *ngFor="let clinica of profissionalDetalhes.clinicas"
                                    [selectable]="false"
                                    [selected]="true">
                                {{clinica}}
                            </mat-chip-option>
                        </mat-chip-listbox>                        
                    </div>
                </div>
                <div class="col-sm-12 my-3">
                    <div class="fs-6 text-gray">
                        Especialidades:
                    </div>
                    <div class="fs-5 text-secondary">
                        <mat-chip-listbox>
                            <mat-chip-option *ngFor="let esp of profissionalDetalhes.especialidades"
                                    [selectable]="false"
                                    [selected]="true">
                                {{esp}}
                            </mat-chip-option>
                        </mat-chip-listbox>                        
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>