<mat-form-field appearance="fill">
    <mat-label>Clínica</mat-label>
    <input matInput type="text" 
        placeholder="Escolha o clínica" 
        [matAutocomplete]="auto"
        [(ngModel)]="clinicaNome"
        (input)="onClinicaInput($event)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClinicaSelected($event)">
        <mat-option *ngFor="let nome of clinicasNomes; index as i" [value]="nome" [id]="''+i">
            {{nome}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> 