<h1>Tela de recepcionistas</h1>

<a mat-raised-button color="primary" [routerLink]="[ '/app', { outlets : { page : 'recepcionista-save/-1' }}]">
    <fa-icon [icon]="icons.faPlusCircle"></fa-icon>
    <span class="mx-3">Novo recepcionista</span>
</a>

<br />

<div class="mt-3"> 
    <app-clinica-autocomplete-input 
            (onSelect)="onClinicaSelect($event)" 
            (onErroCreate)="onClinicaSelectErroCreate($event)" />
    
    <span class="p-2"></span>

    <mat-form-field appearance="fill">
        <mat-label>Nome do recepcionista</mat-label>
        <input matInput type="text" placeholder="Nome de recepcionista" [(ngModel)]="recepcionistaFiltro.filtroNome" />
    </mat-form-field>

    <br />
    <br />
    <div class="d-flex flex-row align-items-center">
        <button mat-raised-button color="primary" (click)="filtra()">
            <fa-icon [icon]="icons.faFilter"></fa-icon>
            <span class="mx-3">Filtrar</span>
        </button>
        <div *ngIf="showSpinner === true" class="mx-2 spinner-border text-primary"></div>
    </div>

    <div *ngIf="infoMsg !== null" class="alert alert-success mt-2">
        {{infoMsg}}
    </div>
    <div *ngIf="erroMsg !== null" class="alert alert-danger mt-2">
        {{erroMsg}}
    </div>
</div>

<div class="table-responsive mt-3" style="height: 20em">    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Detalhes</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of recepcionistas">
                <td>{{r.nome}}</td>
                <td>
                    <a class="text-primary text-decoration-none" [routerLink]="[ '/app', { outlets : { page : 'recepcionista-detalhes/'+r.id }}]">
                        <fa-icon [icon]="icons.faCircleInfo"></fa-icon>
                        detalhes
                    </a>
                </td>
                <td>
                    <a class="text-danger text-decoration-none" [routerLink]="[]" (click)="mostraRemoveDialog(r.id, r.nome)">
                        <fa-icon [icon]="icons.faTrashCan"></fa-icon>
                        remover
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>