<h1>Anamnese do paciente</h1>

<button mat-raised-button color="primary" class="my-1" (click)="downloadRelatorio()">
    <fa-icon [icon]="icons.faEye"></fa-icon>
    <span class="mx-3">Gerar relatorio</span>
</button>

<div class="d-flex justify-content-center">
    <mat-card class="p-3" style="width: 50em">
        <mat-card-header>
            <h1>Anamnese</h1>
        </mat-card-header>
        <mat-card-content>
            <div>
                <div class="fs-6 text-secondary">
                    Paciente
                </div>
                <div class="fs-5">
                   <p class="py-2" style="color:dimgrey">{{pacienteNome}}</p>
                </div>
            </div>
            
            <br />

            <p>Qual a queixa principal?</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Queixa principal?</mat-label>
                <textarea matInput placeholder="Queixa principal?" [(ngModel)]="anamneseSave.queixaPrincipal">
                </textarea>
            </mat-form-field>

            <br />

            <p>O paciente toma medicamentos?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.tomaMedicamentos">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />                
            
            <div class="p-3" *ngIf="anamneseSave.tomaMedicamentos === true">
                <p>Quais (posologia e dose)?</p>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Quais?</mat-label>
                    <textarea matInput type="text" placeholder="Quais?" [(ngModel)]="anamneseSave.quaisMedicamentos">
                    </textarea>
                </mat-form-field>
            </div>

            <br />
            <p>O paciente tem alergias?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.temAlergias">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>                
            <br />                                
            <div class="p-3" *ngIf="anamneseSave.temAlergias === true">
                <p>Quais alergias?</p>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Quais alergias</mat-label>
                    <textarea matInput type="text" placeholder="Quais alergias" [(ngModel)]="anamneseSave.quaisAlergias">
                    </textarea>
                </mat-form-field>
            </div>

            <br />                

            <p>A pressão arterial é?</p>
            <mat-form-field appearance="fill" class="w-75">
                <mat-label>Pressão arterial</mat-label>
                <mat-select [(ngModel)]="anamneseSave.pressaoArterial">
                    <mat-option *ngFor="let t of pressaoArterialTipos" [value]="t.name">
                        {{t.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <br />  

            <p>Tem ou teve algum problema de coração?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.temOuTeveProblemasDoCoracao">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>                <br />
            <div class="p-3" *ngIf="anamneseSave.temOuTeveProblemasDoCoracao== true">
                <p>Quais problemas do coração?</p>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Quais?</mat-label>
                    <textarea matInput type="text" placeholder="Quais?" [(ngModel)]="anamneseSave.quaisProblemasDoCoracao">
                    </textarea>
                </mat-form-field>
            </div>

            <br /> 

            <p>Sente falta de ar com frequência?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.temFaltaDeAr">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group> 

            <br />
            <br />                    

            <p>Tem diabetes?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.temDiabetes">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group> 

            <br />
            <br />

            <p>Quando se corta há um sangramento:</p>
            <mat-form-field appearance="fill" class="w-75">
                <mat-label>Tipo de sangramento</mat-label>
                <mat-select [(ngModel)]="anamneseSave.sangramentoQuandoSeCorta">
                    <mat-option *ngFor="let t of sangramentoTipos" [value]="t.name">
                        {{t.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br />

            <p>A cicatrização é?</p>
            <mat-form-field appearance="fill" class="w-75">
                <mat-label>Cicatrização</mat-label>
                <mat-select [(ngModel)]="anamneseSave.cicatrizacao">
                    <mat-option *ngFor="let t of cicatrizacaoTipos" [value]="t.name">
                        {{t.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br />

            <p>Já fez alguma cirurgia?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.jaFezCirurgia">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group> 

            <br />
            <br />

            <p>È gestante?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.ehGestante">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group> 

            <br />

            <div class="p-3" *ngIf="anamneseSave.ehGestante === true">
                <p>Semanas de gestação?</p>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Quantas semanas?</mat-label>
                    <input matInput type="number" placeholder="Quantas semanas?" [(ngModel)]="anamneseSave.semanasDeGestacao" />
                </mat-form-field>
            </div>

            <br />

            <p>Problemas de saude que já teve:</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Problemas de saude?</mat-label>
                <textarea matInput placeholder="Problemas de saúde?" [(ngModel)]="anamneseSave.problemasDeSaude">
                </textarea>
            </mat-form-field>

            <br />

            <p>Já teve alguma reação com anestesia dental?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.jaTeveReacaoComAnestesiaDental">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />
            <div class="p-3" *ngIf="anamneseSave.jaTeveReacaoComAnestesiaDental === true">
                <p>Quais reações teve?</p>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Reações que teve?</mat-label>
                    <textarea matInput placeholder="Reações que teve?" [(ngModel)]="anamneseSave.quaisReacoesTeveComAnestesiaDental">
                    </textarea>
                </mat-form-field>
            </div>

            <br />

            <p>Quando foi seu último tratamento dentário?</p>
            <mat-form-field appearance="fill">
                <mat-label>Último tratamento</mat-label>
                <input matInput [matDatepicker]="ultimoTratamentoDatepicker" placeholder="DD/MM/YYYY" [(ngModel)]="anamneseSave.dataUltimoTratamentoDentario"/>
                <mat-datepicker-toggle matIconSuffix [for]="ultimoTratamentoDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #ultimoTratamentoDatepicker></mat-datepicker>
            </mat-form-field>

            <br />

            <p>Tem sentido alguma dor nos dentes ou gengiva?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.senteDoresNosDentesOuGengiva">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />
            <br />

            <p>Sua gengiva sangra?</p>
            <mat-form-field appearance="fill" class="w-75">
                <mat-label>Sangramento na gengiva</mat-label>
                <mat-select [(ngModel)]="anamneseSave.sangramentoNaGengiva">
                    <mat-option *ngFor="let t of sangramentoNaGengivaTipos" [value]="t.name">
                        {{t.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br />

            <p>Tem sentido gosto ruim na boca ou boca seca?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.senteGostoRuimNaBoca">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />
            <br />

            <p>Quantas vezes escova os dentes por dia?</p>
            <mat-form-field appearance="fill">
                <mat-label>Quantas vezes</mat-label>
                <input matInput type="text" placeholder="Quantas vezes" [(ngModel)]="anamneseSave.quantasVezesEscovaOsDentes" />
            </mat-form-field>

            <br />

            <p>Usa fio dental?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.usaFioDental">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />
            <br />

            <p>Sente dores ou estalos no maxilar ou ouvido?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.senteDoresNoMaxilarOuOuvido">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />
            <br />

            <p>Range os dentes?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.rangeOsDentes">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />
            <br />

            <p>Teve alguma ferida ou bolha na face ou nos lábios?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.teveFeridaNaFaceOuNosLabios">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />
            <br />
            
            <p>É fumante?</p>
            <mat-radio-group [(ngModel)]="anamneseSave.fuma">
                <mat-radio-button [value]=true>Sim</mat-radio-button>
                <mat-radio-button [value]=false>Não</mat-radio-button>
            </mat-radio-group>

            <br />

            <div *ngIf="anamneseSave.fuma === true">
                <p>Quantas carteiras você fuma?</p>
                <mat-form-field appearance="fill">
                    <mat-label>Quantas carteiras?</mat-label>
                    <input matInput type="text" placeholder="Quantas carteiras" [(ngModel)]="anamneseSave.quantidadeQueFuma" />
                </mat-form-field>
            </div>                      

            <div class="d-flex justify-content-center">
                <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
            </div>

            <div *ngIf="infoMsg !== null" class="alert alert-success mt-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mt-2">
                {{erroMsg}}
            </div>

            <button mat-raised-button color="primary" class="mt-3" (click)="salva()">
                <fa-icon [icon]="icons.faSave"></fa-icon>
                Salvar
            </button>
        </mat-card-content>
    </mat-card>
</div>
