<h1>Suas especialidades</h1>

<a mat-raised-button color="primary" [routerLink]="[ '/app', { outlets : { page : 'profissional-conta-especialidade-save' }}]">
    <fa-icon [icon]="icons.faPenToSquare"></fa-icon>
    <span class="mx-3">Alterar especialidades</span>
</a>

<br />
<br />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor de consulta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let esp of especialidades; index as i">
                <td>{{esp.especialidade}}</td>
                <td>{{esp.consultaValor | currency: 'BRL'}}</td>                
            </tr>
        </tbody>
    </table>
</div>