<h1>Registro/Alteração de profissional</h1>

<br />

<div class="d-flex justify-content-center">
    <div *ngIf="showSpinner === true" class="m-2 text-center spinner-border text-primary"></div>
</div>

<div class="d-flex justify-content-center">
    <mat-card style="width: 50em">
        <mat-card-header>
            <h1>Formulário</h1>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Nome do profissional</mat-label>
                        <input matInput type="text" placeholder="Nome do profissional" [(ngModel)]="profissionalSave.nome"/>
                    </mat-form-field>                        
                </div>

                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Função de profissional</mat-label>
                        <mat-select placeholder="Função do profissional" [(ngModel)]="profissionalSave.funcao">
                            <mat-option *ngFor="let f of funcoes" [value]="f.name">
                                {{f.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>                        
                </div> 

                <div class="col-sm-8">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Nome de usuário</mat-label>
                        <input matInput type="text" placeholder="Nome de usuário" [(ngModel)]="profissionalSave.usuario.username"/>
                    </mat-form-field>                        
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" placeholder="Senha" [(ngModel)]="profissionalSave.usuario.senha"/>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Confirmação de senha</mat-label>
                        <input matInput type="password" placeholder="Repita a senha" [(ngModel)]="senhaRepetida"/>
                    </mat-form-field>
                </div>                                   
            </div>
            
            <div *ngIf="infoMsg !== null" class="alert alert-success mb-2">
                {{infoMsg}}
            </div>
            <div *ngIf="erroMsg !== null" class="alert alert-danger mb-2">
                {{erroMsg}}
            </div>

            <div class="d-flex align-items-center">                
                <button mat-raised-button color="primary" (click)="salva()">
                    <fa-icon [icon]="icons.faSave"></fa-icon>
                    <span class="mx-3">Salvar</span>
                </button>
                <div *ngIf="showSpinner === true" class="mx-2 spinner-border text-primary"></div>
            </div>
            
            <br />
            
            <a mat-stroked-button color="primary" class="mt-3" [routerLink]="[ '/app', { outlets : { page : 'profissional-tela'} } ]">
                <fa-icon [icon]="icons.faCircleLeft"></fa-icon>
                <span class="mx-3">Tela de profissionais</span>
            </a>
        </mat-card-content>
    </mat-card>
</div>
